@import url("theme.css");

.wy-nav-content {
    max-width: 75%;
}

/* -- math display ---------------------------------------------------------- */
 
img.math {
    vertical-align: middle;
}

div.body div.math p {
   text-align: center;
}

span.eqno {
   /*float: right;*/
   display: table-cell;
   width: 60px;
}
 
span.eqno a.headerlink {
   position: absolute;
   z-index: 1;
}

div.math {
  display: table;
  direction: rtl;
  width: -webkit-fill-available;
}

div.MathJax_Display {
   display: table-cell;
}

div.math:hover a.headerlink {
    visibility: visible;
}

/*
table, tbody, tr, td {
  text-align: center;
}
*/

.todo {
  color: red;
}

dt.bibtex.label {
  float: left;
}

dl.citation, dd, p {
  margin-left: 10px;
  min-height: 2.1em;
}

div.figure {
  text-align: center;
}
